<%
page.layout = "links"
page.title = theme.links.title || __('links.title')
page.subtitle = theme.links.subtitle || __('links.subtitle')
page.banner_img = theme.links.banner_img
page.banner_img_height = theme.links.banner_img_height
page.banner_mask_alpha = theme.links.banner_mask_alpha
page.comment = theme.links.comments.type

function hash(text) {
    var hash = 0, i, chr
    if (text.length === 0) return hash
    for (i = 0; i < text.length; i++) {
        chr = text.charCodeAt(i)
        hash = ((hash << 5) - hash) + chr
        hash |= 0
    }
    return hash
}
page.banner_group = page.banner_group || theme.links.banner_group || theme.index.banner_group
if (Array.isArray(page.banner_group) && page.banner_group.length) {
    var index = Math.abs(hash(page.subtitle || page.title)) % page.banner_group.length
    page.banner_img = page.banner_group[index].img || page.banner_img
    page.banner_text = page.banner_group[index].text || page.subtitle || page.title
    page.banner_img_height = parseFloat(page.banner_group[index].height || 50)
    page.banner_mask_alpha = parseFloat(page.banner_group[index].mask_alpha || 0)
}
%>

<div class="row links">
  <% for(const each of theme.links.items || []) { %>
    <% if (!each.title || !each.link) continue %>
    <div class="card col-lg-4 col-md-6 col-sm-12">
      <a href="<%= url_for(each.link) %>" class="card-body hover-with-bg" target="_blank" rel="noopener">
        <div class="card-content">
          <% if (each.avatar || each.image) { %>
            <div class="link-avatar my-auto">
              <img src="<%= url_for(each.avatar || each.image) %>" alt="<%= each.title %>"
                   onerror="this.onerror=null; this.src=this.srcset='<%= url_for(theme.links.onerror_avatar) %>'"/>
            </div>
          <% } %>
          <div class="link-text">
            <div class="link-title"><%- each.title %></div>
            <div class="link-intro"><%- each.intro || '' %></div>
          </div>
        </div>
      </a>
    </div>
  <% } %>
</div>

<% if(theme.links.custom && theme.links.custom.enable && theme.links.custom.content) { %>
  <!-- Custom -->
  <div class="custom mx-auto">
    <%- theme.links.custom.content %>
  </div>
<% } %>

<%- inject_point('linksComments') %>
